<?php 

define( 'APIKEY', 'xxxxxxxxx' ); // harus sama dengan yang disetting di wp-sipd APIKEY SIMDA

define( 'DRIVER', 'xxxxx' ); // driver SQL SERVER (freetds, sql_srv dll)

define( 'HOST_SQL', 'localhost' ); // host untuk database MYSQL
define( 'DB_SQL', 'xxxxx' );
define( 'USER_SQL', 'xxxxx' );
define( 'PASS_SQL', 'xxxxx' );