<?php 

define( 'APIKEY', 'xxxxxxxxx' ); // harus sama dengan yang disetting di wp-sipd APIKEY SIMDA

define( 'DRIVER', false ); // driver SQL SERVER bisa diisi "freetds" untuk koneksi di OS linux. Nilai default false karena menggunakan PDO sqlsrv bawaan server windows

define( 'HOST_SQL', 'localhost' ); // host untuk database MYSQL
define( 'DB_SQL', 'xxxxx' );
define( 'USER_SQL', 'xxxxx' );
define( 'PASS_SQL', 'xxxxx' );