<?php 

define( 'APIKEY', 'xxxxxxxxx' ); // harus sama dengan yang disetting di wp-sipd APIKEY SIMDA

/*
	- Nilai default false karena menggunakan PDO sqlsrv bawaan server windows
	- Driver SQL SERVER bisa diisi "freetds" untuk koneksi di OS linux. Video tutorial: https://youtu.be/ysA8ezncZ2s
	- Driver juga bisa diisi "odbc" untuk koneksi di windows menggunakan DSN
*/
define( 'DRIVER', false );

define( 'TRUST_SERVER_CERTIFICATE', true );

define( 'HOST_SQL', 'localhost' ); // host untuk database MYSQL
define( 'DB_SQL', 'xxxxx' );
define( 'USER_SQL', 'xxxxx' );
define( 'PASS_SQL', 'xxxxx' );